body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
}

.stable {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 5px;
}

.stable th,
.stable td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

.stable th {
    background-color: #f2f2f2;
}

.stable tr:nth-child(odd) {
    background-color: pink;
}

.stable tr:nth-child(even) {
    background-color: rgb(189, 156, 189);
}

.tier {
    background-color: rgb(186, 183, 14);
}


.btn {
    background-color: rgb(209, 28, 28);
    color: #fff;
    padding: 7px 15px;
    cursor: pointer;
    border-radius: 2px;
    text-decoration: none;
}

.btn:hover {
    background-color:violet;
}



